<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569834062290-a622mab5sonjds4bt72mcs3uudh36dk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569834062290-a622mab5sonjds4bt72mcs3uudh36dk7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-or9GemrHFjcDisJMTKJSk4OGT4j1gGw</string>
	<key>GCM_SENDER_ID</key>
	<string>569834062290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.runner.Runner</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:569834062290:ios:2fee9b7dc675817c</string>
	<key>DATABASE_URL</key>
	<string>https://gh-flutter-test.firebaseio.com</string>
	<key>PROJECT_ID</key>
	<string>firebase-flutter-test</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-flutter-test.appspot.com</string>
</dict>
</plist>